[lolibot]
current_context = "default"

[context.default]
bot_name = "Mr. Bot"
default_timezone = "Europe/Madrid"
telegram_feedback_chat_id = "abcdefasdkasd"
openai_api_key = "default_api_key_here"
gemini_api_key = "default_api_key_here"
claude_api_key = "default_api_key_here"
telegram_bot_token  = "default token here"
default_invitees = ["alice@example.com", "bob@example.com"]

[context.personal]
telegram_bot_token = "custom token here"