name: Dependency review

on:
  pull_request:
    types: [opened, synchronize, reopened]
  schedule:
    - cron: '0 4 * * *' # daily at 04:00 UTC


permissions:
  contents: read

jobs:
  dependency-review:
    name: Dependency review
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Dependency Review
        uses: actions/dependency-review-action@v4
